/* Import Inter font */
@import "@fontsource/inter"; /* Local Inter font */
@import "@fontsource/inter/700.css";
@import "@fontsource/inter/800.css";


/* Global styles */
html,
body {
  margin: 0;
  padding: 0;
  background: #010c17;
  color: white;
  font-family: 'Inter', sans-serif; /* Use Inter font */
}

.image-inverted {
  filter: invert(100%);
}

/* Navigation link styles */
.nav-link {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}

/* Custom styles for MUI (Material UI) components */
.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}
